@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-base: 16px;
  --scale-ratio: 1.25;

  --font-0: calc(var(--font-base) * 8 / 10);
  --font-1: calc(var(--font-base) * 8 / 9);
  --font-2: calc(var(--font-base));
  --font-3: calc(var(--font-base) * 8 / 7);
  --font-4: calc(var(--font-base) * 8 / 6);
  --font-5: calc(var(--font-base) * 8 / 5);
  --font-6: calc(var(--font-base) * 8 / 4);
  --font-7: calc(var(--font-base) * 8 / 3);
  --font-8: calc(var(--font-base) * 8 / 2);
  --font-9: calc(var(--font-base) * 8 / 1);

  --leading-0: calc(var(--font-0) * 1.5);
  --leading-1: calc(var(--font-1) * 1.5);
  --leading-2: calc(var(--font-2) * 1.5);
  --leading-3: calc(var(--font-3) * 1.5);
  --leading-4: calc(var(--font-4) * 1.5);
  --leading-5: calc(var(--font-5) * 1.5);
  --leading-6: calc(var(--font-6) * 1.5);
  --leading-7: calc(var(--font-7) * 1.5);
  --leading-8: calc(var(--font-8) * 1.5);
  --leading-9: calc(var(--font-9) * 1.5);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ac-white-1: #f2f2eb;
  --color-ac-white-2: #EAEAE3;
  --color-ac-white-3: #C8C8C2;
  --color-ac-white-4: #A6A6A1;
  --color-ac-white-5: #848480;
  --color-ac-blue-0: #9CCED9;
  --color-ac-blue-1: #7EADBF;
  --color-ac-blue-2: #326173;
  --color-ac-blue-3: #1D5273;
  --color-ac-cream-0: #FBF8EC;
  --color-ac-cream-1: #bfbdb4;
  --color-ac-pink-0: #F2DCE2;
  --color-ac-pink-1: #F2C9D1;
  --color-ac-pink-2: #D9899E;
  --color-ac-pink-3: #A6374B;
  --color-ac-pink-4: #8C1B1B;
  --color-ac-black-1: #0d0d0d;
  --color-dark-background: #0d0d0d;

  --font-line-seed: "LINE Seed JP", sans-serif;

  --animate-filling: filling 5s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  --animate-filling-dark: filling-dark 5s cubic-bezier(0.83, 0, 0.17, 1) forwards;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scroll-behavior: smooth;
  container-type: inline-size;
}

body {
  background: #000;
  color: #FFF;
  font-size: var(--font-2);
  line-height: var(--leading-2);
  letter-spacing: 0.1em;
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: var(--font-line-seed);
}

@utility text-0 { font-size: var(--font-0); line-height: var(--leading-0); }
@utility text-1 { font-size: var(--font-1); line-height: var(--leading-1); }
@utility text-2 { font-size: var(--font-2); line-height: var(--leading-2); }
@utility text-3 { font-size: var(--font-3); line-height: var(--leading-3); }
@utility text-4 { font-size: var(--font-4); line-height: var(--leading-4); }
@utility text-5 { font-size: var(--font-5); line-height: var(--leading-5); }
@utility text-6 { font-size: var(--font-6); line-height: var(--leading-6); }
@utility text-7 { font-size: var(--font-7); line-height: var(--leading-7); }
@utility text-8 { font-size: var(--font-8); line-height: var(--leading-8); }
@utility text-9 { font-size: var(--font-9); line-height: var(--leading-9); }

@utility leading-0 { line-height: var(--leading-0); }
@utility leading-1 { line-height: var(--leading-1); }
@utility leading-2 { line-height: var(--leading-2); }
@utility leading-3 { line-height: var(--leading-3); }
@utility leading-4 { line-height: var(--leading-4); }
@utility leading-5 { line-height: var(--leading-5); }
@utility leading-6 { line-height: var(--leading-6); }
@utility leading-7 { line-height: var(--leading-7); }
@utility leading-8 { line-height: var(--leading-8); }

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
